# Configuração do Banco de Dados PostgreSQL
DB_USER=user
DB_PASSWORD=change_me_in_production
DB_NAME=nexo

# Configuração do Backend
ENVIRONMENT=production

# Configuração do Frontend
VITE_API_URL=http://backend:8000
